<h1>Passwort ändern</h1>
<%= form_tag change_password_path, method: :post do %>
	<%= hidden_field_tag "user_id", @current_user.id %>
	<%= label_tag "old_password", "Altes Passwort" %><br />
	<%= password_field_tag "old_password" %><br /><br />
	<%= label_tag "new_password", "Neues Passwort" %><br />
	<%= password_field_tag "new_password" %><br /><br />
	<%= label_tag "repeated_new_password", "Neues Passwort wiederholen" %><br />
	<%= password_field_tag "repeated_new_password" %><br /><br />
	<%= submit_tag "Passwort ändern" %>
<% end %>
<p>
	<%=  link_to "Startseite", home_index_path %>
</p>