<h1>Passwort vergessen</h1>
<%= form_tag forgot_password_path, method: :post do %>
	<%= label_tag "mail_address", "Registrierte Mail-Adresse" %><br />
	<%= text_field_tag "mail_address" %><br /><br />
	<%= submit_tag "Neues Passwort zuschicken" %>
<% end %>
<p>
	Nach dem Ausfüllen des Formulars wird Ihnen eine Mail an die angegebene Adresse geschickt mit einem automatisch generierten Passwort. Dieses Passwort müssen Sie für den nächsten Login verwenden, dann können Sie das Passwort unter Account -> Passwort ändern beliebig ändern. Sollte die Mail nicht angekommen sein, so kann es sein, dass diese in den Spam-Ordner verschoben wurde. Sollte die Mail nach ener halben Stunde nicht angekommen sein, so kontaktieren Sie bitte die Administratoren der Seite über das <%= link_to "Kontaktformular", "#" %>.
</p>