<h1>Neue Buchung anlegen</h1>
<%= form_tag booking_index_path, method: :post do %>
	<% if @current_user.admin_permissions %>
		<%= label_tag "user_id", "Auftraggeber" %>
		<%= select_tag "user_id", options_from_collection_for_select(User.all.order(:last_name,:first_name), "id", "name"), prompt: "Bitte auswählen" %><br /><br />
	<% else %>
		<table>
			<tr>
				<td>Auftraggeber&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
				<td><%= @current_user.name %></td>
			</tr>
		</table>
		<%= hidden_field_tag "user_id", @current_user.id %><br />
	<% end %>
	<%= label_tag "court_id", "Platz" %>
	<%= select_tag "court_id", options_from_collection_for_select(Court.where(:opened => true).order(:name), "id", "name"), prompt: "Bitte auswählen" %><br /><br />
	<fieldset>
		<legend>Spielzeit</legend>
		<%= label_tag "at_day", "Datum" %>
		<%= number_field_tag "at_day", Date.today.day, min:Date.today.day,max:31,step:1 %>.<%= number_field_tag "at_month", Date.today.month, min:Date.today.month,max:12,step:1 %>.<%= number_field_tag "at_year", Date.today.year, min:Date.today.year,max:3000,step:1 %><br /><br />
		<%= label_tag "at_hour", "Zeit" %>
		<%= number_field_tag "at_hour", Time.now.hour, min:0,max:23,step:1 %>:
		<%= select_tag "at_min", "<option value='0' selected>00</option><option value='30'>30</option>".html_safe %> Uhr bis
		<%= number_field_tag "to_hour", Time.now.hour, min:0,max:23,step:1 %>:
		<%= select_tag "to_min", "<option value='0' selected>00</option><option value='30'>30</option>".html_safe %> Uhr<br /><br />
	</fieldset>
	<br >
	<% if !@current_user.admin_permissions %>
		<% if @current_user.lesson_cards.where("remaining > 0").count > 0 %>
			<b><%= "Sie haben eine Stundenkarte mit " + @current_user.lesson_cards.where("remaining > 0").first.remaining.to_s + " verbleibenden Stunden" %></b><br /> 
			<%= label_tag "use_lesson_card_to_pay", "Von Stundenkarte abbuchen" %>
			<%= check_box_tag "use_lesson_card_to_pay", true, false %>
		<% end %>
	<% end %>
	<br /><br />
	<%= submit_tag "Neue Buchung anlegen" %>
<% end %>
<p>
	<%= link_to "Alle Buchungen", booking_index_path %>
</p>