<h1>Kontakt</h1>
<%= form_tag contact_index_path, method: :post do %>
	<%= label_tag "name", "Name" %><br />
	<% if !@current_user %>
		<%= text_field_tag "name" %>
	<% else %>
		<%= hidden_field_tag "name", @current_user.name %>
		<%= @current_user.name %>
	<% end %>
	<br /><br />
	<%= label_tag "mail", "Mailadresse" %><br />
	<% if !@current_user %>
		<%= text_field_tag "mail" %>
	<% else %>
		<%= hidden_field_tag "mail", @current_user.mail_address %>
		<%= @current_user.mail_address %>
	<% end %>
	<br /><br />
	<%= label_tag "subject", "Betreff" %><br />
	<%= text_field_tag "subject" %><br /><br />
	<%= label_tag "message", "Nachricht" %><br />
	<%= text_area_tag "message", nil, cols: 60, rows: 10 %><br /><br />
	<%= submit_tag "Senden" %>
<% end %>