<!DOCTYPE html>
<html>
<head>
  <title>Belegungstool</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="webseite">
		<div id="menue">
			<ul>
				<li><%= link_to "Belegungsplan", home_index_path %></li>
				<% if @current_user %>
					<% if @current_user.admin_permissions %>
						<li>
							<%= link_to raw("Buchungen &or;"), booking_index_path %>
							<ul>
								<li><%= link_to "Alle Buchungen", booking_index_path %></li>
								<li><%= link_to "Platz buchen", new_booking_path %></li>
							</ul>
						</li>
						<li>
							<%= link_to raw("Abonnements &or;"), abonnement_index_path %>
							<ul>
								<li><%= link_to "Alle Abonnements", abonnement_index_path %></li>
								<li><%= link_to "Abonnement abschließen", new_abonnement_path %></li>
							</ul>
						</li>
						<li>
							<%= link_to raw("Verwaltung &or;"), booking_index_path %>
							<ul>
								<li><%= link_to "Plätze", court_index_path %>
									<ul>
										<li><%= link_to "Alle", court_index_path %></li>
										<li><%= link_to "Neu", new_court_path %></li>
									</ul>
								</li>
								<li>
									<%= link_to "Vereine", club_index_path %>
									<ul>
										<li><%= link_to "Alle", club_index_path %></li>
										<li><%= link_to "Neu", new_club_path %></li>
									</ul>
								</li>
								<li>
									<%= link_to "Benutzer", user_index_path %>
									<ul>
										<li><%= link_to "Alle", user_index_path %></li>
										<li><%= link_to "Neu", new_user_path %></li>
									</ul>
								</li>
							</ul>
						</li>
					<% else %>
						<li>
							<%= link_to raw("Buchungen &or;"), booking_index_path %>
							<ul>
								<li><%= link_to "Meine Buchungen", booking_index_path %></li>
								<li><%= link_to "Platz buchen", new_booking_path %></li>
							</ul>
						</li>
						<li>
							<%= link_to raw("Abonnements &or;"), abonnement_index_path %>
							<ul>
								<li><%= link_to "Meine Abonnements", abonnement_index_path %></li>
								<li><%= link_to "Abonnement abschließen", new_abonnement_path %></li>
							</ul>
						</li>
					<% end %>
				<% end %>
				<% if !@current_user %>
					<li>
						<span><%= raw("Login &or;") %></span>
						<div id="login_popup">
							<h3>Login</h3>
							<%= form_tag login_path, method: :post do %>
								<%= label_tag "mail_address", "Mailadresse" %><br />
								<%= text_field_tag "mail_address" %><br /><br />
								<%= label_tag "password", "Passwort" %><br />
								<%= password_field_tag "password" %><br /><br />
								<%= submit_tag "Login" %>
							<% end %>
							<p>
								<%= link_to "Passwort vergessen", forgot_password_path %>
							</p>
							<p>
								Noch nicht registriert?<br/><%= link_to "Jetzt registrieren!", register_path %>
							</p>
						</div>
					</li>
				<% else %>
					<li>
						<%= link_to raw("Account &or;"), edit_user_path(@current_user.id) %>
						<div id="login_popup">
							<h3>Hallo <%= @current_user.name %></h3>
							<p>
								<table>
									<tr>
										<td><b>E-Mail</b></td><td><%= @current_user.mail_address %></td>
									</tr>
								</table>
							</p>
							<h3>Deine aktuellen Einzel-Buchungen</h3>
							<p>
								<% @my_bookings.each do |my_booking| %>
									<% if my_booking.to_date >= DateTime.now %>
										<%= my_booking.from_date.strftime("%d.%m.%Y - %H:%M bis ") + my_booking.to_date.strftime("%H:%M Uhr - ") + my_booking.court.name %><br />
									<% end %>
								<% end %>
								<% if @my_bookings.count == 0 %>
									Momentan keine Einzel-Buchungen
								<% end %>
							</p>
							<h3>Deine aktuellen Abonnements</h3>
							<p>
								<% @my_abonnements.each do |my_abonnement| %>
									<% if my_abonnement.to_date >= Date.today %>
										<%= my_abonnement.to_date.strftime("Läuft noch bis %d.%m.%Y - ") + @wday_array[my_abonnement.playing_day] + my_abonnement.playing_time_starts.strftime(" %H:%M bis ") + my_abonnement.playing_time_ends.strftime("%H:%M Uhr - ") + my_abonnement.court.name %><br />
									<% end %>
								<% end %>
								<% if @my_abonnements.count == 0 %>
									Momentan keine Abonnements
								<% end %>
							</p>
							<h3>Aktionen</h3>
							<p>
								<%= link_to "Profil bearbeiten", edit_user_path(@current_user.id) %>
								<%= link_to "Paswort ändern", change_password_path %>
								<%= link_to "Logout", logout_path %>
							</p>
						</div>
					</li>
				<% end %>
			</ul>
		</div>
		<div id="content">
			<%= yield %>
		</div>
		<div id="footer">
			<ul>
				<li>
					<a href="#"><%= raw("Preise &and;") %></a>
					<div id="prices_popup">
						<h3>Preise</h3>
						<table>
							<thead>
								<tr>
									<th>Zeit</th>
									<th>Art</th>
									<th>Preis</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>02 - 06 Uhr</td>
									<td rowspan="5">Einzelstunde</td>
									<td>10 €</td>
								</tr>
								<tr>
									<td>06 - 12 Uhr</td>
									<td>13 €</td>
								</tr>
								<tr>
									<td>12 - 18 Uhr</td>
									<td>17 €</td>
								</tr>
								<tr>
									<td>18 - 22 Uhr</td>
									<td>20 €</td>
								</tr>
								<tr>
									<td>22 - 02 Uhr</td>
									<td>13 €</td>
								</tr>
							</tbody>
						</table>
					</div>
				</li>
				<% if !@current_user %>
					<li><%= link_to "Registrieren", register_path %></li>
				<% end %>
				<li><%= link_to "Datenschutz", register_path %></li>
				<li><%= link_to "Kontakt", register_path %></li>
				<li><%= link_to "Impressum", register_path %></li>
			</ul>
		</div>
	</div>
</body>
</html>
